
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style>
            //h1 {color:red;}
            //p {color:blue;}
            //table, th, td {border: 1px solid black;}
            table {
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid orange;
                padding: 10px;
                text-align: left;
            }

        </style>
    </head>
    <body>
        <h1 style="text-align: center;">STATEMENT</h1>

        <div style="color:blue float:left width:200px height:200px">
        </div>

        <div style="color:green width:200px height:200px">
        </div>
        <div class="body">
            <h1>MAARS ACADEMY: STUDENT STATEMENT</h1>

                <table><tbody>
                    <tr>
                        <td>Invoice No</td>
                        <td>Invoice Date</td>
                        <td>Invoice Amount</td>
                        <td>Payment Date</td>
                        <td>Check No</td>
                        <td>Check Amount</td>
                        <td>Paid</td>
                    </tr>

                    <tr>
                        <td>20005</td>
                        <td>04-12-2017</td>
                        <td>$480.00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody></table>


                <h2><span style="color: #993300;">STUDENT INFORMATION</span></h2>
                <table><tbody>
                    <tr>
                        <td>Stundent No</td>
                        <td>Student Name</td>
                        <td>M/F</td>
                        <td>Parent Name</td>
                        <td>Parent Email</td>
                    </tr>

                    <tr>
                        <td><h3>50057</h3></td>
                        <td><h3>Sanjana Shah</h3></td>
                        <td><h3>F</h3></td>
                        <td><h3>NIRUPAMA SHAH</h3></td>
                        <td><h3>nirupama.shah012@gmail.com</h3></td>
                    </tr>
                </tbody></table>


                <h2><span style="color: #993300;">CLASS SCHEDULE</span></h2>
                <table><tbody>
                    <tr>
                        <td>Schedule ID</td>
                        <td>Class Date</td>
                        <td>Class Time</td>
                        <td>Duration</td>
                        <td>Subject</td>
                        <td>Type</td>
                        <td>Rate</td>
                        <td>Class Fee</td>
                    </tr>

                    <tr>
                        <td>2300911</td>
                        <td>04-05-2017</td>
                        <td>05:30 PM</td>
                        <td>1:00 HR</td>
                        <td>Language</td>
                        <td>HOURLY</td>
                        <td>$45.00</td>
                        <td>$45.00</td>
                    </tr>
                    <tr>
                        <td>2300912</td>
                        <td>04-12-2017</td>
                        <td>05:30 PM</td>
                        <td>1:00 HR</td>
                        <td>Language</td>
                        <td>HOURLY</td>
                        <td>$45.00</td>
                        <td>$45.00</td>
                    </tr>

                    <tr>
                        <td>2300913</td>
                        <td>04-19-2017</td>
                        <td>05:30 PM</td>
                        <td>1:00 HR</td>
                        <td>Language</td>
                        <td>HOURLY</td>
                        <td>$45.00</td>
                        <td>$45.00</td>
                    </tr>

                    <tr>
                        <td>2300914</td>
                        <td>04-26-2017</td>
                        <td>05:30 PM</td>
                        <td>1:00 HR</td>
                        <td>Language</td>
                        <td>HOURLY</td>
                        <td>$45.00</td>
                        <td>$45.00</td>
                    </tr>

                </tbody></table>

                <!-- 
                <p style="text-align: left; padding-left: 360px;">TOTAL FEE$200</p>
                -->
        </div>
    </body>
</html>
